.\#*
.config/QtProject.conf
.config/chromium
.config/dconf/
.config/enchant/
.config/hydroxide
.config/nu
.config/pavucontrol.ini
.config/pulse/
.config/vlc/
.emacs.d/.python-environments/
.emacs.d/auto-save-list/
.emacs.d/config.el
.emacs.d/elpa
.emacs.d/places
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/transient/
\#*
