.\#*
\#*
.config/autorandr/
.config/autostart/
.config/chromium
.config/dconf/
.config/discord/
.config/enchant/
.config/evans/
.config/freerdp
.config/gcloud/
.config/gh/
.config/GIMP/
.config/GNS3/
.config/hydroxide
.config/libreoffice/
.config/lxqt/
.config/menus/
.config/mimeapps.list
.config/.mono
.config/nautilus/
.config/nu
.config/NuGet
.config/pavucontrol.ini
.config/pulse/
.config/qBittorrent/
.config/QtProject.conf
.config/sdkmanager/
.config/Slack/
.config/Thunar
.config/Unknown\ Organization
.config/VK/
.config/vlc/
.config/Xavion/
.config/xfce4/
.config/yandex-cloud
.config/zoomus.conf
.config/skypeforlinux
.config/cef_user_data
.emacs.d/auto-save-list/
.emacs.d/config.el
.emacs.d/custom.el
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/init.el
.emacs.d/irony/
.emacs.d/places
.emacs.d/projectile-bookmarks.eld
.emacs.d/.*
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/tramp
.emacs.d/transient/
.sh/i1i1/zsh/ohmyzsh
.sh/i1i1/zsh/.zcompdump*
.vim*
